html {
  font-size: 16px;
}

body {
  font-family: Arial;
  font-size: 62.5%;
}

h1 {
  font-size: 2.4em;
}

.stories-list {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  width: 800px;
}

.story-item {
  animation: fade-in-up 150ms ease-in;
  animation-fill-mode: both;
  list-style-type: none;
  margin-top: 2px;
  opacity: 0;
  padding: 15px 15px;
}

.story-item:first-child {
  margin-top: 0;
}

.story-item:nth-child(2n) {
  background-color: #f6f6ef;
}

.story-item:nth-child(2n+1) {
  background-color: #e4e4ce;
}

.story-item a {
  color: #474747;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
